:root {
  --swiper-pagination-color: rgba(255, 255, 255, 0.612);
}

.galleryPage-container {
  padding-top: 5.5rem;
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 758px) {
  .galleryPage-container {
    min-height: fit-content;
    padding-bottom: 6rem;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 400px;
}

@media (max-width: 710px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 160px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 0.8rem;
}
