:root {
  --swiper-pagination-color: rgba(255, 255, 255, 0.612);
}

.galleryPage-container {
  padding-top: 8rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 400px;
}

@media (max-width: 710px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 160px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: .8rem;
}
