.wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-image: url("https://res.cloudinary.com/draptrzrc/image/upload/v1712265459/oikotan/txrylgnsfahrauhxmvbd.png");
    // background-size: cover;
    // background-position: center;
    background: url("https://res.cloudinary.com/draptrzrc/image/upload/v1712265459/oikotan/txrylgnsfahrauhxmvbd.png");

    padding: 7% 5%;

    .header{
        display: flex;
        justify-content: space-between;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
    
            .dhol{
                width: 6rem;
                height: 6rem;
            }
    
            .dholLeft{
                transform: scale(-1 , 1);
            }
    
            .groupTitle{
                .heading{
                    font-size: 6.5vmin;;
                }
                .gloory{
                    margin-top: -8%;
                    
                    img{
                        width: 100%;
                    }
                }
            }
        }
    
        .pepa{
    
        }
    
        .pepaLeft{
            transform: scale(-1, 1);
        }
    }

    .teamDetailedContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;

        .teamContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;

            .coreTeam{
                width: 100%;
                
                display: flex;
                flex-wrap: wrap;
                justify-content:center ;
                align-items: center;
                gap: 10vw;
            }
            .techTeam{
                width: 100%;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 10vw
            }
        }
    }
}