.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to bottom, #3d029d 0%, #3f1560 100%);
  padding: 10% 5%;

  .bg_img {
    width: 100%;
    height: 190vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      .dhol {
        width: 6rem;
        height: 6rem;
      }

      .dholLeft {
        transform: scale(-1, 1);
      }

      .groupTitle {
        .heading {
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: white;
          text-align: center;
          font-family: var(--font-1);
          font-size: 6.5vmin;
          text-wrap: nowrap;
        }
        .gloory {
          margin-top: -8%;

          img {
            width: 100%;
          }
        }
      }
    }

    .pepaLeft {
      transform: scale(-1, 1);
    }
  }

  .teamDetailedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;

    .teamContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      h3 {
        color: #fff;

        text-align: center;
        font-family: var(--font-1);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 3%;
      }

      .team {
        width: 100%;
        margin-top: 3%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10vw;
      }
      .teamswiper{
        width: 100%;
        height: 20rem;
        margin-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10vw;
      }
    }
  }
}
