@import url("https://fonts.googleapis.com/css2?family=Snippet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: 0;
}
.slide_parent {
  height: fit-content;
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4rem;
  .slide {
    display: inline-block;
    animation: 15s slide infinite linear;
    .slider {
      width: 100vw;
    }
  }
}
@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.arrow_logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  cursor: pointer;
  height: fit-content;
  .arrow {
    height: 4rem;
    width: 5rem;
  }
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  margin-top: 0rem;
  height: fit-content;
  max-width: 100vw;
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2rem;
    width: 35%;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    .logo {
      height: 3rem;
      width: 13rem;
    }
  }

  .ldrum,
  .rdrum {
    height: 6rem;
    width: 6rem;
  }
  .ldrum {
    transform: scaleX(-1);
  }
  .heading {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Snippet", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
  }
}
.bottom {
  width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;
  .left,
  .right {
    width: 40%;
  }
  .left {
    .flower {
      width: 20rem;
      height: 15rem;
      position: relative;
      left: 5rem;
      top: 4rem;
    }
    .couple {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 10rem;

      .husband,
      .wife {
        height: 20rem;
        width: 12rem;
      }
    }
  }
  .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.8rem;
    .paragraph {
      text-align: justify;
      white-space: break-spaces;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0;
      font-size: 1.1rem;
    }
    .parent {
      height: 5rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .btn_parent {
        position: absolute;
        height: 3rem;
        width: 8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #eb2059;
        padding: 12px 15px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        .btn {
          font-family: "Snippet", sans-serif;
          font-size: 1.3rem;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: -1px;
          font-weight: 300;
          z-index: 2;
          text-align: center;
          white-space: nowrap;
        }
      }
      .btn_parent::before {
        content:'';
        position: absolute;    
        height: 50%;
        width: 100%;
        // border-radius: 10px;
        background-color: #ffffff;
        animation: animate 4s linear infinite;
      }
      .btn_parent::after {
        content:'';
        position: absolute;
        background-color: #eb2059;
        border-radius: 10px;
        inset: 3px;
      }
      @keyframes animate {
        0%{
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
  }
}
@media screen and (max-width: 758px) {
  .arrow_logo {
    display: none;
  }
  .top {
    .header {
      .logo {
        width: 10rem;
        height: 3rem;
      }
    }
    .ldrum,
    .rdrum {
      height: 5rem;
      width: 5rem;
    }
    .heading {
      font-size: 1.3rem;
    }
  }
  .bottom {
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    position: relative;
    bottom: 5rem;

    .left,
    .right {
      width: 80%;
    }
    .right {
      .paragraph {
        font-size: 1rem;
      }
    }
    .left {
      .flower {
        top: 8rem;
      }
      .couple {
        bottom: 5rem;
        .husband,
        .wife {
          height: 100%;
          width: 8rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .bottom {
    .left {
      .flower {
        left: 1rem;
      }
    }
    .right {
      .paragraph {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (min-width: 1900px) {
  .top {
    .heading {
      font-size: 2.3rem;
    }
    .header {
      width: 40%;
      .logo {
        height: 4rem;
        width: 18rem;
      }
    }
    .ldrum,
    .rdrum {
      height: 8rem;
      width: 8rem;
    }
  }
  .bottom {
    .left {
      .flower {
        left: 14rem;
      }
      .couple {
        .husband,
        .wife {
          height: 23rem;
          width: 15rem;
        }
      }
    }
    .right {
      .paragraph {
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (min-width: 3000px) {
  .bottom {
    .left {
      .flower {
        left: 22rem;
      }
    }
    .right {
      .paragraph {
        font-size: 1.9rem;
      }
    }
  }
}
@media screen and (min-width: 3000px) {
  .bottom {
    .left {
      .flower {
        left: 25rem;
      }
    }
  }
}
@media screen and (max-width: 758px) {
  .slide_parent {
    margin-top: 3.5rem;
  }
}
