// This is a part of Template
.home {
  height: fit-content;
}
body {
  background-image: url("https://res.cloudinary.com/dgnlmdkyq/image/upload/v1712334439/Oikyotaan/ARTISTS_zp8gv6.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
