// This is a part of Template
.home {
  height: 100vh;
  h1 {
    font-weight: bold;
  }
  .error {
    color: red;
  }
}
body {
  background-image: url("https://res.cloudinary.com/dgnlmdkyq/image/upload/v1712168548/Oikyotaan/ARTISTS_vdajxa.png");
  background-size: contain;
  background-repeat: repeat;
}
