.gallery-container {
  margin-top: 2rem;
  height: fit-content;
  width: 100%;
}

@media (max-width: 768px) {
  .gallery-container{
    margin-top: 2rem;
  }
}

@media (max-width: 375px) {
  .gallery-container{
    margin-top: 0rem;
  }
}

.mySwiper {
  width: 100vw;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
  height: fit-content;
}
.swiper-slide img {
  display: block;
  width: 45vw;
  height: 25rem;
  border-radius: .8rem;
  filter: blur(10px);
}

.swiper-slide-active img{
  filter: blur(0);
}
@media screen and (max-width:450px){
  .mySwiper{
    max-width: 90vw;
    height: 25rem;
  }
}
@media screen and (max-width:710px){
  .swiper-slide img{
    height: 18rem;
    width:80%;
  }
}
@media screen and (max-width:360px){
  .swiper-slide img{
    height: 13.5rem;
    width:15rem;
  }
  .mySwiper{
    height: 20rem;
  }
}
@media screen and (max-width:500px) and (min-width:361px){
  .swiper-slide img{
    height: 19rem;
  }
}