.grid_container{
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 2rem;

}


.spons_img {
  height: 15.75rem;
  width: 14.5rem;
  border-radius: 1.25rem;
  border: 0.25rem solid transparent;
  border-image: linear-gradient(white, rgb(241, 123, 143)) 1;
  border-radius: 0.625rem;
  -webkit-mask-image: radial-gradient(transparent 0 0px, #000 0px);
          mask-image: radial-gradient(transparent 0 0px, #000 0px);
  transition: border-image 0.5s;
  overflow: hidden;
}

.spons_img:hover {
  border-image: linear-gradient(rgb(244, 121, 141),white) 1;
}





/*===== MEDIA QUERIES =====*/

/* @media(max-width: 1023px){

} */