:root {
  --swiper-navigation-color: rgba(255, 255, 255, 0.845);
  --swiper-button-next-color: blue;
}

.ParentDivision {
  background-image: url(https://res.cloudinary.com/dl0knguhb/image/upload/v1712137199/pngwing_3_slripp.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.BottomImage {
  position: relative;
}
.bottomParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.LeftBtn {
  background-color: transparent;
  @media screen and (max-width: 315px) {
    scale: 0.5;
  }
}
.RightBtn {
  background-color: transparent;
  @media screen and (max-width: 315px) {
    scale: 0.5;
  }
}
.BottomDiv {
  background-image: none;
  display: flex;

  width: 60%;
  margin-bottom: 4rem;
  padding: 1rem;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  backdrop-filter: blur(60px) brightness(100%);
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  border-color: transparent;
  border: 4px solid;
  border-image: radial-gradient(rgb(255, 0, 214.2), rgba(21, 21, 21, 0)) 1;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
}
.EventText {
  font-weight: 300;
  text-align: justify;
  font-family: Montserrat;
  padding: 5% 20% 5% 20%;
  color: aliceblue;
  font-family: var(--font-1);
}
.SliderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.h1 {
  color: antiquewhite;
  text-align: center;
  font-weight: 200;
  font-family: var(--font-1);
  position: relative;
  top: 0.6rem;
}
.Text {
  font-family: var(--font-1);
}
button {
  background-color: #433672;
  border: transparent;
}

.musical {
  margin-left: -1rem;
  width: 14rem;
}
.musical1 {
  margin-left: -1rem;
  width: 14rem;
  transform: scaleX(-1);
}

.DholEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}
.swiperclass {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.swiperclass .image {
  width: 75%;
  height: 18vw;
}

.swiperclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
}
.BottomDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  margin-bottom: 4rem;
  padding: 7%;
}
.card {
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  backdrop-filter: blur(60px) brightness(100%);
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  border-color: transparent;
  border: 4px solid;
  height: 100%;
  width: 130%;
  border-image: radial-gradient(rgb(255, 0, 214.2), rgba(21, 21, 21, 0)) 1;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
  .images {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .image {
      width: 80%;
    }
  }
  .h1 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }
  .text_class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .EventText {
      text-align: justify;
      width: 100%;
      font-size: 0.9rem;
    }
  }
}

// media-queries
@media screen and (max-width: 768px) {
  .BottomDiv {
    width: 85vw;
  }
  .EventText {
    padding: 5% 10% 5% 10%;
  }
}
