:root{
  --swiper-navigation-color:white;
}
.ParentDiv {
 
  padding-top: 5rem;
  background-image: url(https://res.cloudinary.com/dl0knguhb/image/upload/v1712137199/pngwing_3_slripp.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}



.BottomImage {
  position: relative;
  
}
.bottomParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.LeftBtn {
  background-color: transparent;
  @media screen and (max-width: 315px) {
    scale: 0.5;
  }
}
.RightBtn {
  background-color: transparent;
  @media screen and (max-width: 315px) {
    scale: 0.5;
  }
}
.BottomDiv {
  background-image: none;
  display: flex;
  flex-direction: column;
  width: 60%;
  backdrop-filter: blur(20px);
  margin-bottom: 4rem;
  padding: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  backdrop-filter: blur(60px) brightness(100%);
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  border-color: transparent;
  border: 4px solid;
  border-image: radial-gradient(rgb(255,0,214.2),rgba(21,21,21,0)) 1;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
}
.EventImg {
  padding-top: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img {
    width: 100%;
    height: 100%;
  }
}
.EventText {
  font-weight: 300;
  font-family: Montserrat;
  padding: 5% 10% 5% 10%;
  color: aliceblue;
  font-family: var(--font-1);
}
.SliderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.h1 {
  color: antiquewhite;
  text-align: center;
  font-weight: 200;
  font-family: var(--font-1);
  position: relative;
  top: 0.6rem;
}
.Text {
  font-family: var(--font-1);
}
button {
  background-color: #433672;
  border: transparent;
}

.musical {
  margin-left: -1rem;
  width: 14rem;
}
.musical1 {
  margin-left: -1rem;
  width: 14rem;
  transform: scaleX(-1);
}

.DholEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}
.swiperclass {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}
.image {
  height: 60%;
  width: 50%;
}
.swiperclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
}



// media-queries
@media screen and (max-width: 800px) {
  .BottomDiv {
    width: 85vw;
  }
}
@media screen and (max-width: 700px) {
  .BottomDiv {
    width: 80vw;
  }
}
@media screen and (max-width: 550px) {
  .EventText {
    font-size: 12px;
  }
  .BottomDiv {
    width: 95%;
  }
}
