.TopDiv {
  display: flex;
  // background-color: rgb(71, 52, 52);
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  // background: linear-gradient(to bottom, #3d029d 0%, #3f1560 100%);
}
.TextParent {
  font-weight: 400;
  color: azure;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 2rem;
  justify-content: center;
}
.ParentDiv {
  display: flex;
  // background-color: rgb(71, 52, 52);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // background: linear-gradient(to bottom, #3d029d 0%, #3f1560 100%);
  // background-image: url(https://res.cloudinary.com/dl0knguhb/image/upload/v1712137199/pngwing_3_slripp.webp);
}

.Lftdrum {
  transform: scaleX(-1);
}
// .LeftDhol{
//   position: relative;
//   background-color: darkblue;
// }
// .RightDhol{
//   position: relative;
//   background-color: aquamarine;
// }
.BottomImage {
  position: relative;
  top: -2rem;
}
.bottomParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.BottomDiv {
  background-image: none;
  display: flex;
  flex-direction: column;
  margin-left: 9vw;
  margin-right: 9vw;
  border: 0.1vw solid #ffffff;
  background-color: #403370;
  border-radius: 2.5rem;
  backdrop-filter: blur(20px);
  margin-bottom: 4rem;
}

.EventImg {
  padding-top: 10%;
  margin: 0 auto;
}
.EventText {
  font-weight: 300;
  font-family: Montserrat;
  padding: 5% 10% 5% 10%;
  color: aliceblue;
  font-family: var(--font-1);
}
.SliderDiv {
  display: flex;
  flex-direction: row;
}
.h1 {
  color: antiquewhite;
  text-align: center;
  font-weight: 200;
  font-family: var(--font-1);
}
.Text {
  font-family: var(--font-1);
}
button {
  background-color: #433672;
  border: transparent;
}

.musical {
  margin-left: -1rem;
  width: 14rem;
}
.musical1 {
  margin-left: -1rem;
  width: 14rem;
  transform: scaleX(-1);
}

.DholEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}
.ParentDiv {
  overflow-x: hidden;
}
@media screen and (max-width= 1395px) {
  .BottomDiv {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1180px) {
  .TopDiv {
    scale: 0.7;
  }
}
@media screen and (max-width: 1000px) {
  .TopDiv {
    scale: 0.6;
  }
}
@media screen and (max-width: 700px) {
  .TopDiv {
    scale: 0.5;
  }
  .BottomDiv {
    scale: 0.9;
  }
}
