.container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: url("https://res.cloudinary.com/dyn3q57b8/image/upload/f_auto,q_auto/v1/Oikyotaan%20'24%20assets/Sponsors/floralCompressed");
    background-size: contain;
    background-color: #3e0f73;
}

.SponsorCardContainer {
    margin-top: 2rem;
}